user_uuid = "4ad05ffc-cf7f-4381-b954-b9c3c6b9d6d1"
bucket_name = "18msej8g2cccexk3wv1ywy9i2nsscsvr"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version = 1